<div class="wrap" id="<%= dom_id project %>">
  <p>
    <strong class="project_name">Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong class="project_desc">Description:</strong>
    <%= project.description %>
  </p>

</div>

<style>
  body{
    background-color: #fffff0;
  }
  .wrap{
    width: 500px;
    padding: 15px 20px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: #f5fffa;
  }
</style>


