<div class="wrapper">
  <h1 class="title">New project</h1>

  <%= render "form", project: @project %>

  <br>

  <div>
    <%= link_to "Back to projects", projects_path, class: "project_back" %>
  </div>
</div>

<style>
body{
    background-color: #fffff0;
  }
  .wrapper{
    text-align: center;
  }
</style>