<div id="<%= dom_id bucket %>" class="result_wrap">
  <p>
    <strong>Name:</strong>
    <%= bucket.name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= bucket.project.name %>
  </p>

</div>


<style>
  .result_wrap{
    width: 500px;
    margin: 0 auto;
    padding: 15px 20px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: #f5fffa;
  }
</style>